[project]
	description = Review the Redfish schema and provide comments that can be incorporated into the standard.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hariharasubramanian R (hramasub)
[access "refs/for/refs/*"]
	read = group user/Hariharasubramanian R (hramasub)
	push = group user/Hariharasubramanian R (hramasub)
	label-Code-Review = -2..+2 group user/Hariharasubramanian R (hramasub)
	label-Verified = -1..+1 group user/Hariharasubramanian R (hramasub)
	rebase = group user/Hariharasubramanian R (hramasub)
	removeReviewer = group user/Hariharasubramanian R (hramasub)
	submit = group user/Hariharasubramanian R (hramasub)
[access "refs/heads/*"]
	read = group user/Hariharasubramanian R (hramasub)
	create = group user/Hariharasubramanian R (hramasub)
	push = +force group user/Hariharasubramanian R (hramasub)
	pushMerge = group user/Hariharasubramanian R (hramasub)
[access "refs/tags/*"]
	push = +force group user/Hariharasubramanian R (hramasub)
	pushTag = group user/Hariharasubramanian R (hramasub)
	pushSignedTag = group user/Hariharasubramanian R (hramasub)
